* {
  margin: 0%;
  padding: 0%;
}
html {
  scroll-behavior: smooth;
}
body#custom-body  {
  background-color: rgb(0, 0, 0);
}
.headd {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
}
.logo {
  height: 8vh;
  border-color: rgb(252, 0, 0);
}
.in {
  width: 98%;
  height: 4vh;
  position: absolute;
  align-self: center;
  border-radius: 50px;
  padding: 0px 8px;
  font-size: 13px;
  border: none;
  left: 1%;
  margin-top: 4px;
  font-family: "Nunito";
  font-weight: 500;
}
.search {
  border-radius: 50%;
  height: 3vh;
  position: absolute;
  align-self: center;
  left: 395px;
  margin-top: 8px;
}
.bord {
  width: 30%;
  height: 5vh;
  align-self: center;
  left: 12%;
  border-radius: 50px;
  border-color: white;
  position: absolute;
  background-color: rgb(146, 146, 146);
  margin: auto;
  margin-top: 5px;
  border-color: rgb(255, 134, 134);
}
.in:focus {
  outline: none;
}
.wishlist {
  height: 4vh;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  left: 85%;
  top: 2%;
}
.cart {
  height: 4vh;
  border-radius: 50%;
  position: absolute;
  left: 90%;
  top: 2%;
}
.login {
  height: 4vh;
  border-radius: 50%;
  position: absolute;
  left: 95%;
  top: 2%;
}
.h {
  color: white;
  font-family: "papyrus";
  left: 70%;
  font-weight: 500;
  font-size: 15px;
  transition: all 0.3s;
}
.h:hover {
  color: #ff0000;
}
.main {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: 70%;
  top: 3%;
}
.categories {
  width: 100%;
  height: 15vh;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
}
.cg {
  width: 5%;
  height: 9vh;
  /* background-color: hsl(0, 0%, 100%);*/
  backdrop-filter: blur(8px);
  border-radius: 25px;
}
.cg-image {
  width: 100%;
  height: 8vh;
  border-radius: 6px;
  transition: all 0.3s;
}
.cg-image:hover {
  transform: scale(1.18);
}
.d {
  color: white;
}
#underr{
  text-decoration: none;
}
.gs {
  height: 77vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

#pc {
  height: 40vh;
  position: relative;
  bottom: 37%;
}
.gstext {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 18vw;
  font-family: "Arial black";
  bottom: 35%;
}
.gstext2 {
  color: white;
  font-size: 5vw;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  top: 70%;
  position: absolute;
  z-index: 1;
}

.pc3 {
  height: 10vh;
  top: 80%;
  right: 85%;
  position: absolute;
  z-index: 1;
}
.gs2 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.custom1 {
  height: 100vh;
  width: 50%;
  background-color: #ededed;
}
.custom2 {
  height: 100vh;
  width: 50%;
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  height: 60vh;
  width: 70%;
  background-color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.gs3 {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.card2 {
  width: 29%;
  height: 70vh;
  background-color: #ededed;
  border-radius: 10px;
  transition: all 0.3s;
}

.pc4 {
  height: 46vh;
  position: relative;
  left: 5%;
  bottom: 12%;
  filter: drop-shadow(5px 5px 10px #008cff81);
}
.pc4-text {
  font-size: 20px;
  font-family: "avenir";

  font-weight: 400;
  position: absolute;
  top: 255%;
  left: 6%;
  transition: all 0.3s;
}
.pc4-text:hover {
  transform: scale(1.1);
}
.pc6-text {
  font-size: 20px;
  font-family: "avenir";

  font-weight: 400;
  position: absolute;
  top: 255%;
  left: 73%;
  transition: all 0.3s;
}
.pc6-text:hover {
  transform: scale(1.1);
}
.s {
  color: #ff0000;
}
.pc5-text {
  font-size: 20px;
  font-family: "avenir";

  font-weight: 400;
  position: absolute;
  top: 255%;
  left: 40%;
  transition: all 0.3s;
}
.pc5-text:hover {
  transform: scale(1.1);
}
.pc5 {
  height: 43vh;
  position: relative;
  bottom: 12%;
  left: 8%;
  filter: drop-shadow(5px 5px 10px #ff000081);
}
.per {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 44px;
  color: white;
  position: absolute;
  top: 200%;
  font-weight: 800;
}
.discover{
  font-size: 4vw;
  color: #ff0000;
  position: absolute;
  left: 4%;
  top: 102%
}
.discover2{
  font-size: 4vw;
  color: #8c8c8c;
  position: absolute;
  left: 26%;
  top: 102%
}
.discover3{
  font-size: 4vw;
  color: #000000;
  position: absolute;
  left: 61%;
  top: 102%
  
}
.discover-div{
 background-color: #e1e1e1;
  width: 89%;
  height: 60vh;
  position: relative;
  border-radius: 10px;
  left: 8%;
  top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discover-head{
  font-size: 26px;
  color: black;
  font-family: "Arial Rounded MT BOLd";
  position: relative;
  top: 10%;
  
}
.discover-text{
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 21px;
  position: relative;
  top: 30%;
}
.btn{
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 10px;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  
  width: 40%;
  position: relative;
  left: 10%;
  top: 89%;
}
.btn1 {
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  width: 40%;
  position: absolute;
  left: 2%;
  top: 210%;
}
.btn2 {
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  width: 40%;
  position: relative;
  top: 23%;
  left: 10%;
}
.btn11 {
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  width: 40%;
  position: relative;
  top: 27%;
  left: 10%;
}

.card2:hover {
  transform: scale(1.1);
}
.card4 {
  width: 29%;
  height: 70vh;
  background-color: #ededed;
  border-radius: 10px;
}
.gs4 {
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gs-half {
  height: 60vh;
  width: 50%;
}
.gs-half2 {
  height: 40vh;
  width: 100%;
  background-color: #3f3f3f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.card5 {
  height: 35vh;
  width: 24%;
  /*background-color: #000000;*/
}
.logo2 {
  height: 20vh;
  position: relative;
  left: 25%;
}
.card6 {
  height: 40vh;
  width: 24%;
  /* background-color: #000000;*/
  align-items: center;
}
.textt {
  font-size: 17px;
  color: rgb(255, 255, 255);
  font-family: "botoni 72";
  font-weight: 400;
  letter-spacing: 0.5px;
  position: relative;
  bottom: 6%;
  text-align: center;
}
.categ {
  text-align: center;
  color: #ffffff;
  font-family: "Arial Rounded MT BOLd";
  font-size: 19px;
  position: relative;
  top: 8%;
}
.list {
  list-style-type: square;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  left: 21%;
  top: 15%;
  color: white;
}
.list2 {
  list-style-type: square;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  left: 29%;
  top: 15%;
  color: white;
}
.beast {
  width: 100%;
  height: 160vh;
  background-color: #000000;
}
.per2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
  color: rgb(255, 255, 255);
  position: relative;
  left: 4%;
  top: 2%;
  font-weight: 800;
}
.beast-child1 {
  height: 60vh;
  width: 32%;
  background-color: #ededed;
  border-radius: 10px;
  position: relative;
  left: 4%;
  top: 12%;
  transition: all 0.3s;
}
.pc7-text {
  font-size: 18px;
  font-family: "avenir";

  font-weight: 400;
  position: absolute;
  top: 358%;
  left: 9%;
  transition: all 0.3s;
}
.pc7-text:hover {
  transform: scale(1.1);
}
.pc8-text {
  font-size: 18px;
  font-family: "avenir";

  font-weight: 400;
  position: absolute;
  top: 357%;
  left: 52%;
  transition: all 0.3s;
}
.pc8-text:hover {
  transform: scale(1.1);
}
.oneplus-key {
  font-size: 22px;
  font-family: "avenir";

  font-weight: 400;
  position: absolute;
  top: 429%;
  left: 10%;
  transition: all 0.3s;
}
.oneplus-key:hover {
  transform: scale(1.1);
}
.logi-mouse {
  font-size: 22px;
  font-family: "avenir";

  font-weight: 400;
  position: absolute;
  top: 429%;
  left: 67%;
  transition: all 0.3s;
}
.logi-mouse:hover {
  transform: scale(1.1);
}
.granzan {
  height: 50vh;
  position: relative;
  left: 14%;
  bottom: 30%;
  filter: drop-shadow(5px 5px 10px #ffbb0071);
}
.beast-child1:hover {
  transform: scale(1.1);
}

.btn3 {
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  width: 40%;
  position: relative;
  left: 10%;
}
.beast-child2 {
  height: 60vh;
  width: 50%;
  background-color: #ededed;
  border-radius: 10px;
  position: relative;
  left: 45%;
  bottom: 25%;

  transition: all 0.3s;
}
.samsung {
  height: 60vh;
  position: relative;
  bottom: 39%;
  left: 7%;
  filter: drop-shadow(5px 5px 10px #00000071);
}
.beast-child2:hover {
  transform: scale(1.1);
}
.btn4 {
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  width: 40%;
  position: relative;
  left: 10%;
  bottom: 17%;
}

.beast-child3 {
  height: 45vh;
  width: 50%;
  background-color: #ededed;
  border-radius: 10px;
  position: relative;
  left: 4%;
  bottom: 15%;
  transition: all 0.3s;
}
.oneplus {
  position: relative;
  height: 37vh;
  position: relative;
  left: 10%;
  bottom: 30%;
  filter: drop-shadow(5px 5px 10px #00000071);
}
.beast-child3:hover {
  transform: scale(1.1);
}
.btn5 {
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  width: 40%;
  position: relative;
  left: 10%;
  bottom: 4%;
}
.beast-child4 {
  height: 45vh;
  width: 32%;
  background-color: #ededed;
  position: relative;
  left: 62%;
  bottom: 43%;
  border-radius: 10px;
  transition: all 0.3s;
}
.logi {
  height: 30vh;
  position: relative;
  bottom: 22%;
  left: 3%;
  filter: drop-shadow(5px 5px 10px #00000071);
}
.beast-child4:hover {
  transform: scale(1.1);
}
.btn6 {
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  width: 40%;
  position: relative;
  left: 10%;
  top: 12%;
}

.access {
  height: 180vh;
  width: 100%;
  background-color: #000000;
  padding: 0%;
  margin: 0%;
}
.some-access {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
  position: relative;
  color: #ffffff;
  left: 8%;
  font-weight: 900;
}
.access1 {
  width: 30%;
  height: 60vh;
  background-color: #ededed;
  border-radius: 10px;
  position: relative;
  top: 15%;
  left: 4%;
  transition: all 0.3s;
}
.gaming-chair {
  height: 60vh;
  position: relative;
  bottom: 35%;
  right: 6%;
  filter: drop-shadow(5px 5px 10px #00000071);
}
.gami-chair {
  font-size: 23px;
  font-family: "avenir";

  font-weight: 400;
  position: absolute;
  top: 539%;
  left: 9%;
  transition: all 0.3s;
}
.gami-chair:hover {
  transform: scale(1.1);
}
.access1:hover {
  transform: scale(1.1);
}
.btn7 {
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  width: 40%;
  position: relative;
  left: 10%;
  bottom: 15%;
}
.access2 {
  width: 30%;
  height: 50vh;
  background-color: #ededed;
  border-radius: 10px;
  position: relative;
  bottom: 18%;
  left: 37%;
  transition: all 0.3s;
}
.access2:hover {
  transform: scale(1.1);
}
.ps5 {
  height: 45vh;
  position: relative;
  bottom: 35%;
  left: 10%;
  filter: drop-shadow(5px 5px 10px #00000071);
}
.ps5-con {
  font-size: 23px;
  font-family: "avenir";

  font-weight: 400;
  position: absolute;
  top: 527%;
  left: 41%;
  transition: all 0.3s;
}
.ps5-con:hover {
  transform: scale(1.1);
}
.btn8 {
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  width: 40%;
  position: relative;
  left: 10%;
  bottom: 8%;
}
.access3 {
  width: 27%;
  height: 43vh;
  background-color: #ededed;
  transition: all 0.3s;
  position: relative;
  left: 70%;
  border-radius: 10px;
  bottom: 46%;
}
.headphone {
  height: 40vh;
  position: relative;
  bottom: 30%;
  left: 15%;
  filter: drop-shadow(5px 5px 10px #00000071);
}
.zeb {
  font-size: 23px;
  font-family: "avenir";

  font-weight: 400;
  position: absolute;
  top: 525%;
  left: 74%;
  transition: all 0.3s;
}
.zeb:hover {
  transform: scale(1.1);
}
.access3:hover {
  transform: scale(1.1);
}
.btn9 {
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  width: 40%;
  position: relative;
  left: 10%;
  bottom: 12%;
}
.benq-bar {
  font-size: 23px;
  font-family: "avenir";

  font-weight: 400;
  position: absolute;
  top: 602%;
  left: 8%;
  transition: all 0.3s;
}
.benq-bar:hover {
  transform: scale(1.1);
}
.access4 {
  width: 30%;
  height: 50vh;
  background-color: #ededed;
  border-radius: 10px;
  position: relative;
  bottom: 30%;
  left: 37%;
  transition: all 0.3s;
}
.xbox {
  height: 40vh;
  position: relative;
  bottom: 25%;
  left: 3%;
  filter: drop-shadow(5px 5px 10px #000000c6);
}
.access4:hover {
  transform: scale(1.1);
}
.btn10 {
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  width: 40%;
  position: relative;
  left: 10%;
  top: 3%;
}
.access5 {
  height: 40vh;
  width: 30%;
  border-radius: 10px;
  background-color: #ededed;
  position: relative;
  left: 4%;
  bottom: 52%;
  transition: all 0.3s;
}
.screenbar {
  height: 25vh;
  position: relative;
  bottom: 20%;
  left: 16%;
  filter: drop-shadow(5px 5px 10px #000000c6);
}
.xboxx {
  font-size: 23px;
  font-family: "avenir";

  font-weight: 400;
  position: absolute;
  top: 602%;
  left: 40%;
  transition: all 0.3s;
}
.xboxx:hover {
  transform: scale(1.1);
}
.access5:hover {
  transform: scale(1.1);
}
.access6 {
  height: 60vh;
  width: 27%;
  border-radius: 10px;
  background-color: #ededed;
  position: relative;
  left: 70%;
  bottom: 86%;
  transition: all 0.3s;
}
.verticle {
  height: 50vh;
  position: relative;
  bottom: 20%;
  filter: drop-shadow(5px 5px 10px #000000c6);
}
.ben-ver {
  font-size: 23px;
  font-family: "avenir";

  font-weight: 400;
  position: absolute;
  top: 602%;
  left: 73%;
  transition: all 0.3s;
}
.ben-ver:hover {
  transform: scale(1.1);
}
.access6:hover {
  transform: scale(1.1);
}
.tablee {
  font-size: 23px;
  font-family: "avenir";

  font-weight: 400;
  position: absolute;
  top: 674%;
  left: 9%;
  transition: all 0.3s;
}
.tablee:hover {
  transform: scale(1.1);
}
.duo {
  font-size: 23px;
  font-family: "avenir";

  font-weight: 400;
  position: absolute;
  top: 672%;
  left: 50%;
  transition: all 0.3s;
}
.duo:hover {
  transform: scale(1.1);
}
.access-2 {
  height: 60vh;
  width: 100%;
  background-color: #000000;
}
.access-2-1 {
  height: 50vh;
  width: 35%;
  background-color: #ededed;
  position: relative;
  bottom: 2%;
  left: 4%;
  border-radius: 10px;
  transition: all 0.3s;
}
.table {
  height: 40vh;
  position: relative;
  bottom: 25%;
  filter: drop-shadow(5px 5px 10px #000000c6);
}
.access-2-1:hover {
  transform: scale(1.1);
}
.access-2-2 {
  height: 50vh;
  width: 50%;
  background-color: #ededed;
  position: relative;
  left: 44%;
  bottom: 85%;
  border-radius: 10px;
  transition: all 0.3s;
}
.organizer {
  height: 25vh;
  position: relative;
  bottom: 20%;
  filter: drop-shadow(5px 5px 10px #000000c6);
}
.moniterstand {
  height: 34vh;
  position: relative;
  left: 60%;
  bottom: 80%;
  filter: drop-shadow(5px 5px 10px #000000c6);
}
.access-2-2:hover {
  transform: scale(1.1);
}
.btn12 {
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  width: 40%;
  position: relative;
  top: 17%;
  left: 10%;
}
.btn13 {
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  width: 40%;
  position: relative;
  top: 3%;
  left: 10%;
}
.btn14 {
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  width: 40%;
  position: relative;
  left: 10%;
}
.btn15 {
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  width: 40%;
  position: relative;
  left: 11%;
  top: 27px;
}
.btn16 {
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  width: 40%;
  position: relative;
  bottom: 35%;
  left: 10%;
}
.extraa {
  background-color: #ededed;
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ext {
  background-color: #ededed;
  width: 24%;
  height: 30vh;
}
.ext-img {
  height: 23vh;
  position: absolute;
  top: 706%;
  left: 1%;
}
.ext-text {
  font-size: 24px;
  font-weight: 500;
  font-family: "Arial Rounded MT BOLd";
  position: absolute;
  top: 708%;
  left: 14%;
}
.ext-text2 {
  font-size: 18px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 717%;
  left: 14%;
}
.ext-img1 {
  height: 15vh;
  position: absolute;
  top: 711%;
  left: 27%;
}
.ext1-text {
  font-size: 24px;
  font-family: "Arial Rounded MT BOLd";
  position: absolute;
  left: 38%;
  top: 708%;
}
.ext1-text2 {
  font-size: 18px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 717%;
  left: 38%;
}
.ext-img2 {
  height: 15vh;
  position: absolute;
  top: 711%;
  left: 52%;
}
.ext2-text {
  font-size: 24px;
  font-family: "Arial Rounded MT BOLd";
  position: absolute;
  left: 61%;
  top: 708%;
}
.ext2-text2 {
  font-size: 18px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 717%;
  left: 61%;
}
.ext-img3 {
  height: 15vh;
  position: absolute;
  top: 711%;
  left: 76%;
}
.ext3-text {
  font-size: 24px;
  font-family: "Arial Rounded MT BOLd";
  position: absolute;
  left: 85%;
  top: 708%;
}
.ext3-text3 {
  font-size: 18px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 717%;
  left: 85%;
}
.advantage {
  height: 50vh;
  width: 46%;
  position: absolute;
  top: 740%;
  background-color: #ededed;
  left: 2%;
  border-radius: 10px;
}
.advantage2 {
  height: 50vh;
  width: 46%;
  position: absolute;
  top: 740%;
  background-color: #ededed;
  left: 52%;
  border-radius: 10px;
}
.why {
  font-size: 25px;
  font-family: "Arial Rounded MT BOLd";
  color: #000000;
  position: relative;
  left: 35%;
  top: 15%;
}
.why1 {
  font-size: 23px;
  font-family: "avenir";

  font-weight: 400;
  position: absolute;
  top: 35%;
  left: 4%;
  color: #000000;
}
.why3{
  font-size: 26px;
  font-family: "Arial Rounded MT BOLd" ;
  color: #000000;
  position: relative;
  left: 25%;
  top: 4%;
}
.why4{
  font-size: 22px;
  font-family: "avenir";

  font-weight: 400;
  position: absolute;
  top: 26%;
  left: 8%;
  color: #000000;
}
/*.why3{
  font-size: 25px;
  font-family: "Arial Rounded MT BOLd";
  color: #000000;
  position: relative;
  left: 20%;
  top: 10%;
}*/
.list3 {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  position: relative;
  top: 15%;
  left: 20%;
}
/* processor page */
.process {
  height: 25vh;
  width: 100%;
  /*background-color: #ededed;*/
}
.process-img1 {
  height: 15vh;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  left: 2%;
}
.process-img2 {
  height: 15vh;
  width: 10%;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  left: 14%;
}
.process-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 25%;
  left: 5%;
  font-family: "avenir";
  font-weight: 400;
}
.process-text2 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 25%;
  left: 17%;
  font-family: "avenir";
  font-weight: 400;
}
.process2 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.child {
  width: 19%;
  height: 100vh;
  background-color: #ededed;
  border-radius: 10px;
}
.child2 {
  width: 78%;
  height: 100vh;
  background-color: #3f3f3f;
  border-radius: 10px;
}
.divvv {
  height: 10vh;
  width: 100%;
}
.procc {
  font-size: 30px;
  font-family: "botoni 72";
  color: white;
  position: relative;
  top: 25%;
  left: 40%;
}
/*CUSTOM PC*/
.mainn {
  background-color: #ededed;
  height: 70vh;
  width: 40%;
  border-radius: 10px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  visibility: hidden;
  transition: transform 0.4s,top 0.4s;
  z-index: 2;
}
.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
}
.input-data {
  height: 4vh;
  width: 43%;
  position: relative;
  top: 10%;
  left: 2%;
}

.input-data input {
  height: 100%;
  width: 90%;
  border: none;
  border-bottom: 2px solid rgb(116, 116, 116);
  background-color: #ededed;
  position: relative;
  left: 5%;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  outline: none;
}

.input-data label {
  color: rgb(110, 110, 110);
  position: absolute;
  bottom: 5px;
  left: 5%;
  pointer-events: none;
  transition: all 0.3s ease;
  font-weight: 400;
}

.input-data:focus-within label,
.input-data input:valid + label {
  transform: translateY(-20px);
}

.s:focus {
  outline: none;
}

.input2-data {
  height: 4vh;
  width: 43%;
  position: relative;
  top: 10%;
  left: 2%;
}
.input2-data input {
  height: 100%;
  width: 90%;
  border: none;
  border-bottom: 2px solid rgb(116, 116, 116);
  background-color: #ededed;
  position: relative;
  left: 120%;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  outline: none;
  bottom: 32px;
}

.input2-data label {
  color: rgb(110, 110, 110);
  position: absolute;
  bottom: 38px;
  left: 120%;
  pointer-events: none;
  transition: all 0.3s ease;
  font-weight: 400;
}

.input2-data:focus-within label,
.input2-data input:valid + label {
  transform: translateY(-20px);
}

.input3-data {
  height: 4vh;
  width: 43%;
  position: relative;
  top: 10%;
  left: 2%;
}
.input3-data input {
  height: 100%;
  width: 90%;
  border: none;
  border-bottom: 2px solid rgb(116, 116, 116);
  background-color: #ededed;
  position: relative;
  left: 5%;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  outline: none;
  bottom: 5px;
  color: red;
}

.input3-data label {
  color: rgb(110, 110, 110);
  position: absolute;
  bottom: 10px;
  left: 5%;
  pointer-events: none;
  transition: all 0.3s ease;
  font-weight: 400;
}
.input3-data input.s3:focus + label,
.input3-data input.s3:valid + label {
  transform: translateY(-20px);
}

.input3-data input:focus {
  outline: none;
}

.input4-data {
  height: 4vh;
  width: 88%;
  position: relative;
  top: 10%;
  left: 2%;
}
.input4-data input {
  height: 100%;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgb(116, 116, 116);
  background-color: #ededed;
  position: relative;
  left: 12px;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  outline: none;
  top: 20px;
  color: red;
}

.input4-data label {
  color: rgb(110, 110, 110);
  position: absolute;
  bottom: 2px;
  left: 2%;
  pointer-events: none;
  transition: all 0.3s ease;
  font-weight: 400;
  top: 19px;
}

.input4-data input.s4:focus + label,
.input4-data input.s4:valid + label {
  transform: translateY(-20px);
}

.input4-data input:focus {
  outline: none;
}

.hh {
  color: black;
  font-size: 24px;
  font-family: "Arial Rounded MT BOLd";
  position: relative;
  top: 2%;
  left: 20%;
}
.input5-data {
  height: 4vh;
  width: 43%;
  position: relative;
  top: 15%;
  left: 2%;
}

.input5-data input.s5 {
  height: 100%;
  width: 90%;
  border: none;
  border-bottom: 2px solid rgb(116, 116, 116);
  background-color: #ededed;
  position: relative;
  left: 5%;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  outline: none;

}

.input5-data label {
  color: rgb(110, 110, 110);
  position: absolute;
  left: 5%;
  pointer-events: none;
  transition: all 0.3s ease;
  font-weight: 400;
  transform: translateY(0); /* Reset the initial position */
}

.input5-data input.s5:focus + label,
.input5-data input.s5:valid + label {
  transform: translateY(-20px);
}

.s5:focus {
  outline: none;
  cursor: text; /* Set the cursor to text to make the input field interactive */
}

.input6-data {
  height: 4vh;
  width: 43%;
  position: relative;
  top: 10%;
  left: 2%;
}
.input6-data input {
  height: 100%;
  width: 90%;
  border: none;
  border-bottom: 2px solid rgb(116, 116, 116);
  background-color: #ededed;
  position: relative;
  left: 120%;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  outline: none;
  top: 17px;
}

.input6-data label {
  color: rgb(110, 110, 110);
  position: absolute;
  left: 120%;
  pointer-events: none;
  transition: all 0.3s ease;
  font-weight: 400;
  top: 20px;
}

.input6-data:focus-within label,
.input6-data input:valid + label {
  transform: translateY(-20px);
}

.input7-data {
  height: 4vh;
  width: 88%;
  position: relative;
  top: 10%;
  left: 2%;
}
.input7-data input {
  height: 100%;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgb(116, 116, 116);
  background-color: #ededed;
  position: relative;
  left: 12px;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  outline: none;
  top: 50px;
}

.input7-data label {
  color: rgb(110, 110, 110);
  position: absolute;
  bottom: 2px;
  left: 2%;
  pointer-events: none;
  transition: all 0.3s ease;
  font-weight: 400;
  top: 49px;
}

.input7-data input.s:focus + label,
.input7-data input.s:valid + label {
  transform: translateY(-20px);
}

.input7-data input:focus {
  outline: none;
}
.input8-data {
  height: 4vh;
  width: 43%;
  position: relative;
  top: 10%;
  left: 2%;
}

.input8-data input {
  height: 100%;
  width: 90%;
  border: none;
  border-bottom: 2px solid rgb(109, 109, 109);
  background-color: #ededed;
  position: relative;
  left: 5%;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  outline: none;
  top: 80px;
}

.input8-data label {
  color: rgb(110, 110, 110);
  position: absolute;

  left: 5%;
  pointer-events: none;
  transition: all 0.3s ease;
  font-weight: 400;
  top: 80px;
}

.input8-data:focus-within label,
.input8-data input:valid + label {
  transform: translateY(-20px);
}
.input9-data {
  height: 4vh;
  width: 43%;
  position: relative;
  top: 10%;
  left: 2%;
}

.input9-data input {
  height: 100%;
  width: 90%;
  border: none;
  border-bottom: 2px solid rgb(109, 109, 109);
  background-color: #ededed;
  position: relative;
  left: 5%;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  outline: none;
  top: 110px;
}

.input9-data label {
  color: rgb(110, 110, 110);
  position: absolute;

  left: 5%;
  pointer-events: none;
  transition: all 0.3s ease;
  font-weight: 400;
  top: 108px;
}

.input9-data:focus-within label,
.input9-data input:valid + label {
  transform: translateY(-20px);
}
.btnnn {
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  width: 40%;
  position: relative;
  left: 29%;
  top: 200px;
}
